extends layouts/mainLayout

block content
  .space
  .form-container.show-veto
    h2 Alle Fragen in der Kategorie #{cat} 
    each quest in allQuests 
      p.veto.show: a(href="/quest/showDetails/"+quest._id)= quest.question
    .inputField
      button.btn-small.green: a(href="/quest") Ich will lieber spielen
      button.btn-small.blue: a(href="/") zurück
  .space
   
