extends layouts/mainLayout

block content
  .space
  .form-container.show-veto
    h2 Zu diesen Fragen gibt es eine Meldung: 
    each veto in vetos 
      p.veto.show: a(href="/quest/vetoDetails/"+veto._id)= veto.question
    .inputField
      button.btn-small.green: a(href="/quest") Ich will lieber spielen
  .space
   
