extends layouts/mainLayout

block content
	.container 
		h1#greet Hallo #{user.username}

	.index-container
		.form-container.index 
			h2 #{message}
			if has_vetos
				.inputField
					button.btn-small.blue: a(href="/quest/vetos") ansehen
		.form-container.transparent
			button.button#new-quest(type="submit") Play
		.form-container.index
			h1#cats Kategorien:
			each cat in categories
				p.veto.cats: a(href="/quest/show/"+cat)= cat
				br
	.space