extends layouts/mainLayout

block content
	.quest-container 
		.question
		.answers
			.left 
				h2.answer#answer0 
				h2.answer#answer1 
			.right 
				h2.answer#answer2
				h2.answer#answer3 

	button.button#new-quest weiter
