extends layouts/mainLayout 

block content
  .greeting 
    h1#greet Hallo #{user.username.toUpperCase()}!
  .quest-container(hidden)
    h1#player #{user.username.toUpperCase()}
    .question
    .answers
      .left 
        h2.answer#answer0 
        h2.answer#answer1 
      .right 
        h2.answer#answer2
        h2.answer#answer3 

  span#timer 15 Sekunden pro Frage!
  button.button#new-quest next
  .edit
  //- button.btn-small#edit(hidden) Bearbeiten
