extends layouts/mainLayout

block content 

  .container 

  .form-container.show-veto
    h2 Frage: 
    p.veto.show #{details.question}
    h2 Antwort:
    p.veto.show #{details.right_answer}
    h2 Falsche Antworten:
    p.veto.show #{details.wrong_answers}
    h2 Autor:
    p.veto.show #{author}
    .inputField
      if details.author == userID
        button.btn-small.blue: a(href="/quest/edit/"+_id) bearbeiten
      else 
        button.btn-small.blue melden
      button.btn-small: a(href="/") zurück