extends layouts/mainLayout

block content
  .pre-choice
  .form-container.veto-container
    p.veto Zur Frage: 
    p.veto #{message}
    form.create-form(action="/quest/veto/"+id, method="POST")
      .inputField
        label(for="correct") Antwort: 
        br
        br
        input(type="text", id="correct", name="correct", size="35",  
              placeholder="Deine richtige Antwort", autocomplete="off", value=current, autofocus)
      .inputField 
        textarea(id="comment", name="comment",  rows="6", cols="36",
              placeholder="Bitte kommentiere dein Veto.", autocomplete="off")
      .inputField 
        button.btn-small.blue(type="submit") Veto einreichen
        button.btn-small: a(href="/quest") Abbruch
  