/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  	--mainBg: #555;
	  --mainFont: #e9dbd5;
		--family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
		--fields : #735864aa;
		--red: #A10035aa;
		--green: #3FA796aa;
		--blue: #8CD2EE;
		--spacing: .1rem;
  }

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

  body {
  background-color: var(--mainBg);
	background-image: url('../images/ways.jpg');
	background-size: cover;
  color: var(--mainFont);
	font-size: 1rem;
	font-family: var(--family);
	font-weight: 100;
}

.layout-container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(#735864, #9697A9);
	padding: .3rem;
	width: 100%;
	/* box-shadow: 0 1.5px 4px -1.6px #A39A9D inset; */
	box-shadow: inset 0 1.8em 0.80em -1.3em #7297FF88, 0 .8em .8em 0 #9697A9;
}

.navTitle {
	margin: 0 auto;
	letter-spacing: .5rem;
	font-size: 3.5rem;
	color: #2e2e2e;
	text-align: center;
}

#greet,
#player {
	color: #2e2e2e;
	letter-spacing: .2rem;
	font-size: 2rem;
	font-weight: 800;
	margin-top: 2rem;
}

#greet {
	font-size: 3rem;
	margin-top: 15vh;
}

.menu,
.logout {
	width: 2.5rem;
	height: 2.5rem;
}

.menu {
	z-index: 10;
}

.log-container {
	text-align: center;
	margin-top: 17vh;
}

.form-container {
	background-color: #7D91A3aa;
	border-radius: 2rem;
	padding: 1rem 3rem;
	text-align: center;
}
.register {
	margin-top: 10vh;
}

.logTitle {
	font-size: 3.5rem;
	margin: 0 auto;
}
.inputField {
	margin: 2rem 0;
	text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	font-family: var(--family);
	background-color: transparent;
	font-size: 2.3rem;
	color: var(--mainFont);
	border: none;
	outline: none;
	letter-spacing: var(--spacing);
	border-bottom: 1px solid var(--mainFont);
}

.quest-container {
	width: 50%;
	text-align: center;
}

.question {
	width: 100%;
	background-color: var(--fields);
	/* border: 1px solid #333; */
	border-radius: 1rem;
	padding: 1rem 0; 
	margin-top: 9rem;
	letter-spacing: var(--spacing);
	box-shadow: inset 0 1.8em 0.80em -1.3em #7297FF88, 0 .8em .8em 0 #00000055;
}

#edit-quest {
	text-decoration: none;
	color: var(--mainFont);
}

.answers {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left,
.right {
	width: 50%;
	text-align: center;
}

.question-header {
	font-size: 2rem;
}

#ed-icon {
	font-size: 1rem;
	margin-left: 1rem;
}

.answer {
	background-color: var(--fields);
	margin: 2rem 0;
	padding: 1.2rem 0;
	/* border: 1px solid #333; */
	border-radius: 1rem;
	letter-spacing: var(--spacing);	
	box-shadow: inset 0 1.8em 0.80em -1.3em #7297FF88, 0 .8em .8em 0 #00000055;
}

#answer0, 
#answer1 {
	margin-right: 2rem;
}

#answer2, 
#answer3 {
	margin-left: 2rem;
}

.no {
	background-color: var(--red);
	animation: toRed 2s;
	box-shadow: inset 0 1.8em 0.80em -1.3em #00000055, 0 .8em .8em 0 #31416c88;
}

.yes {
	background-color: var(--green);
	animation: toGreen 2s;
	box-shadow: inset 0 1.8em 0.80em -1.3em #00000055, 0 .8em .8em 0 #31416c88;
}

#timer {
	font-size: 2rem;
}

.lost {
	border: 2px solid var(--red);
}

.won {
	border: 2px solid var(--green);
}

@keyframes toGreen {
	from {
		background-color: #4C6793aa;
	} to 
	{
		background-color: var(--green);
	}
}

@keyframes toRed {
	from {
		background-color: #4C6793aa;
	} to 
	{
		background-color: var(--red);
	}
}

.button {
	outline: none;
	font-family: var(--family);
	margin-top: 2rem;
	font-size: 2rem;
	color: #8CD2EE;
	font-weight: bold;
	padding: 1rem 3rem;
	border: none;
	border-bottom: 1px solid #55555555;
	border-top-right-radius: 5rem;
	border-top-left-radius: 5rem;
	border-bottom-left-radius: .4rem;
	border-bottom-right-radius: .4rem;
	background-image: linear-gradient( #FF87B2, #820000, #A10035);
	box-shadow: 0 5px 10px black;
	cursor: pointer;
}

.button:hover {
	translate: 0 4px;
	box-shadow: 0 0 5px black;
}

.btn-small {
	font-weight: bold;
	cursor: pointer;
	outline: none;
	font-size: 1.5rem;
	background-color: var(--blue);
	color: black;
	border-radius: 1rem;
	font-family: var(--family);
	padding: .3rem 2rem;
	border: none;	
}

.btn-small a {
	text-decoration: none;
}

.btn-small:hover {
	filter: brightness(80%);
}
.logToggle {
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	color: var(--blue);
}

.logToggle:hover {
	color: #fff;
}

.menu-modal {
	position: fixed;
	background-color: #000000aa;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.inner-modal {
	text-align: center;
	background-color: #7D91A3aa;
	padding: 5rem 2rem;
	width: 35%;
	border: 1px solid #aaaaaa44;
	border-radius: 1rem;
	animation: appear 1s;
}

@keyframes appear {
	from {
		opacity: 0;
	} to {
	  opacity: 1;
	}
}

.nav-ul {
	margin: 0 auto;
	width: 30%;
}

.nav-li,
.nav-li a {
	text-decoration: none;
	list-style-type: none;
	font-size: 3rem;
	color: var(--mainFont);
}

.nav-li a:hover {
	color: #ffffff44;
}

.button a {
	text-decoration: none;
	font-size: 3rem;
	color: var(--mainFont);
}
#newQuest {
	text-align: center;
	font-size: 2rem;
	margin: 1rem;
	letter-spacing: var(--spacing);
}
